.admin
  .btn-new-page
    margin-bottom 10px
  .btn-unlocked
    display none

  .admin-claims
    .claim-status-filter
      text-align right
      padding-right 10px
      margin-bottom 10px
      select
        width 300px
    .reactive-table-filter
      padding-right 0
    .reactive-table-navigation
      margin-top 10px
    #claims-table
      tr
        cursor pointer

  .claim-contact-info
    .decision-email
      margin 0 0 15px 0
      .send-email-button
        width 175px
      .message-sent
        margin-left 5px
        font-weight bold

  .admin-claim-purchases
    margin-bottom 10px
    #claim-purchase-form
      .panel-heading
        display none
      .list-group-item:nth-child(2)
        display none
    th:nth-child(1)
      width 50%

  .admin-claim-docs
    .claim-docs-table
      th:nth-child(1)
        width 30%
      th:nth-child(2)
        width 15%
      th:nth-child(3)
        width 40%

  .admin-claim-notes
    .claim-notes-table
      th:nth-child(1)
        width 65%
      th:nth-child(2)
        width 10%

  .admin-claim-audit
    .claim-audit-table
      th:nth-child(2)
        width 70%
