.claim

  .btn:focus
    outline 0

  .steps
    margin-bottom 20px

  .btn-primary
    background-color $colorBlue
    border-color $colorBlue

  .btn-primary:hover
    background-color $colorBlueDarker
    border-color $colorBlueDarker

  #claim-wizard form
    padding-left 5px
    margin-bottom 30px

  #claim-wizard .modal form
    margin-bottom 10px

  .claim-step-header
    margin-bottom 5px
    padding-bottom 10px

  h3.panel-title
    margin 0
    padding 0

  .claim-contact-info
    .panel
      margin-top 10px

  .required .control-label:after
    content ' *'
    color: #d9534f

  .asterisk
    color #d9534f
    font-weight bold

  textarea.form-control
    height auto

  .alert
    margin-bottom 10px

  .claim-purchases

    .autoform-array-item-body
      .panel-heading
        display none

    .panel-default
      .panel-heading
        font-size 1.7em
        font-weight 300
        line-height 120%
        color #0099da

    #claim-purchases-form
      .form-group:nth-child(2)
        width 31%
        float left
      .form-group:nth-child(3)
        width 31%
        float left
        margin-left 20px
      .form-group:nth-child(4)
        width 31%
        float left
        margin-left 20px
      .control-label:after
        content ' *'
        color #d9534f

    .claim-purchase
      background-color #f7f7f7
      padding 10px 15px
      margin-bottom 20px

    .purchases
      margin-top 20px

  .claim-proof
    margin-top 20px
    h3
      margin-top 0

  .btn.open-upload-manager
    margin-left 10px

  .claim-product-outcome
    margin-top 20px

  .modal
    h2
      margin 0
    .upload-file
      width 100px

  .claim-claiming-death
    margin-top 15px
    label
      font-weight bold

  .claim-proof-required
    color #d9534f
    margin-top 5px

  #claim-review-form
    ul
      list-style none
      padding-left 0

  .claim-review
    .table
      tr
        th
          width 40%

  #claim-upload-type
    display none

  .claim-proof-sworn_statement
    ul
      padding-left 0
      list-style none
      label
        font-weight normal
    .checkbox
      float left
      margin-top 0
    .control-label
      float left
      width 95%
