html.site {
  -webkit-font-smoothing:antialiased
}
body.site {
  background-color:#fff;
  color:#666;
  font-family:Open Sans, sans-serif;
  font-size:14px;
  line-height:1.75em
}

.site
  .boxed {
    background-color:#fff
  }
  h1, h2, h3, h4, h5, h6
    font-family Lato, sans-serif
    font-weight 300
    line-height 120%
    color #0099da
    margin 10px 0 17px
  h1 {
    font-size:2.3em
  }
  h2 {
    font-size:2em
  }
  h3 {
    font-size:1.7em
  }
  h4 {
    font-size:1.4em
  }
  h5 {
    font-size:1.2em;
    font-weight:400
  }
  h6 {
    font-size:1em;
    font-weight:400
  }
  a {
    color:#0099da
    text-decoration none
  }
  .strong {
    font-weight:400
  }
  a:hover {
    color:#000
  }
  a.button {
    text-decoration:none
  }
  input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 1000px white inset
  }
  :focus {
    outline:none!important
  }
  ::-moz-focus-inner {
    border:0!important
  }
  iframe {
    border:0
  }
  p.small {
    font-size:.9em
  }
  .margin-small {
    margin-top:5px;
    margin-bottom:5px
  }
  dt {
    color:#0099da
  }
  dt,
  dd {
    margin:2px 0
  }
  .small-font {
    font-size:.9em
  }
  .primary-color {
    color:#0099da
  }
  .alignleft {
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    margin-top:5px
  }
  .alignright {
    float:right;
    margin-left:10px;
    margin-bottom:10px;
    margin-top:5px
  }
  .aligncenter {
    display:block;
    margin:0 auto
  }
  .imageborder {
    padding:5px;
    border:solid 1px #ddd
  }
  img+p {
    margin-top:20px
  }
  img.alignleft+p,
  img.alignright+p {
    margin-top:0
  }
  .p-lg {
    font-size:1.1em;
    line-height:180%
  }
  .margin-bottom {
    margin-bottom:40px
  }
  .margin-top {
    margin-top:40px
  }
  .margin-top-80 {
    margin-top:80px
  }
  hr {
    display:block;
    border-top:1px solid #ddd;
    margin:25px 0
  }
  hr.color {
    border-color:#0099da!important
  }
  hr.dotted {
    border-style:dotted!important
  }
  hr.dashed {
    border-style:dashed!important
  }
  hr.double {
    height:5px;
    border-bottom-width:1px;
    border-bottom-color:#ddd;
    border-bottom-style:solid
  }
  .list-line {
    list-style-type:none;
    padding:0
  }
  .list-line li {
    border-bottom:solid 1px #eee
  }
  .list-line li:first-child {
    border-top:solid 1px #eee
  }
  .list-line li a {
    color:#333;
    text-decoration:none;
    padding:7px;
    display:block;
    -webkit-transition:all .25s ease;
    -o-transition:all .25s ease;
    transition:all .25s ease
  }
  .list-line li a:hover {
    background-color:#f5f5f5;
    color:#0099da
  }
  .main-header {
    background-color:#0099da;
    color:#fff;
    padding:20px 0;
    margin-bottom:40px;
    position:relative
  }
  .main-header.main-header-inverse {
    background-color:#f5f5f5;
    color:#000;
    border-bottom:solid 1px #ddd
  }
  .main-header.main-header-inverse .page-title,
  .main-header.main-header-inverse .breadcrumb a,
  .main-header.main-header-inverse .breadcrumb {
    color:#000
  }
  .main-header.main-header-inverse .breadcrumb li {
    color:#0099da
  }
  .main-header.main-header-inverse .breadcrumb a:hover {
    border-bottom:solid 1px #000
  }
  .main-header.main-header-inverse .breadcrumb>li+li:before {
    color:#666
  }
  .main-header .page-title {
    color:#fff;
    margin:0;
    padding:0;
    line-height:100%;
    font-size:2em;
    display:inline-block;
    padding-top:5px
  }
  .table-striped-primary>tbody>tr:nth-child(odd)>td,
  .table-striped-primary>tbody>tr:nth-child(odd)>th {
    background-color:#0099da;
    color:#fff
  }
  .popover {
    border-radius:0
  }
  .panel-border {
    background-color:#f5f5f5;
    -webkit-box-shadow:inset 0 0 2px rgba(0,
    0,
    0,
    .1);
    box-shadow:inset 0 0 2px rgba(0,
    0,
    0,
    .1);
    border:0;
    padding:10px
  }
  .panel-border .panel-body {
    background-color:#fff;
    -webkit-box-shadow:0 0 2px rgba(0,
    0,
    0,
    .1);
    box-shadow:0 0 2px rgba(0,
    0,
    0,
    .1)
  }
  .sidebar .panel-body {
    color:#444
  }
  .sidebar .panel-body h4 {
    font-weight:500
  }
  .page-header {
    color:#000;
    border-bottom:solid 1px #0099da;
    margin-bottom:30px;
    margin-top:10px
  }
  input {
    border-radius:0!important;
    -webkit-box-shadow:none;
    box-shadow:none
  }
  .form-control {
    display:block;
    border-radius:0;
    width:100%;
    height:36px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    .075);
    box-shadow:inset 0 1px 1px rgba(0,
    0,
    0,
    .075);
    -webkit-transition:border-color ease-in-out .15s,
    -webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,
    box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,
    box-shadow ease-in-out .15s
  }
  .form-control:focus {
    border-color:#0099da;
    -webkit-box-shadow:none;
    box-shadow:none
  }
  textarea.form-control,
  select.form-control {
    border-radius:0
  }
  textarea.form-control:focus {
    border-color:#0099da
  }
  .input-group-addon {
    border-radius:0;
    background-color:#0099da;
    border-color:#008bc6;
    color:#fff
  }
  .panel,
  .panel .panel-footer {
    border-radius:0;
    background-color:#f7f7f7
  }
  .panel-default {
    border-color:#e5e5e5
  }
  .panel-default .panel-heading {
    border-color:#e5e5e5
  }
  .panel-primary {
    border-color:#0099da
  }
  .panel-primary .panel-heading,
  .panel-primary .panel-footer {
    background-color:#0099da;
    color:#fff
  }
  .panel-heading {
    border-radius:0;
    font-family:Lato,
    Open Sans,
    sans-serif
  }
  .panel-heading a {
    font-weight:500!important
  }
  .panel-heading i {
    margin-right:5px;
    font-size:1.1em
  }
  .panel-title {
    padding:7px
  }
  .panel-primary .panel-heading a {
    color:#fff
  }
  .panel-primary .panel-heading a:hover {
    background-color:none
  }
  .panel-primary .panel-header a,
  .panel-primary .panel-footer a {
    color:#fff
  }
  .panel .panel-primary .panel-heading a:hover {
    background-color:transparent!important
  }
  .panel-default .panel-heading,
  .panel-default .panel-footer {
    background-color:#f3f3f3;
    color:#333
  }
  .main-header .container {
    position:relative
  }
  @media(max-width:500px){.main-header .breadcrumb {
    display:none!important
  }
  }
  .main-header .breadcrumb {
    margin:0;
    display:inline-block;
    background:none;
    color:#fff;
    font-size:1.1em;
    position:absolute;
    top:0;
    right:10px
  }
  .main-header .breadcrumb li {
    color:#eee
  }
  .main-header .breadcrumb li.current_item {
    color:#eee
  }
  .main-header .breadcrumb a {
    color:#fff
  }
  .main-header .breadcrumb a:hover {
    text-decoration:none;
    border-bottom:solid 1px #fff
  }
  .breadcrumb>li+li:before {
    padding:0 6px 0 5px;
    content:"\00bb"
  }
  .main-header .breadcrumb>li+li:before {
    color:#fff
  }
  .navbar-default {
    -webkit-box-shadow:0 1px 2px rgba(0,
    0,
    0,
    .4),
    inset 0 0 2px rgba(255,
    255,
    255,
    .5);
    box-shadow:0 1px 2px rgba(0,
    0,
    0,
    .4),
    inset 0 0 2px rgba(255,
    255,
    255,
    .75);
    background-image:-webkit-linear-gradient(bottom,
    #ececec,
    #f4f4f4);
    background-image:-o-linear-gradient(bottom,
    #ececec,
    #f4f4f4);
    background-image:-webkit-gradient(linear,
    left bottom,
    left top,
    from(#ececec),
    to(#f4f4f4));
    background-image:linear-gradient(to top,
    #ececec,
    #f4f4f4);
    margin-bottom:0;
    border-bottom:0
  }
  .navbar-default .navbar-brand {
    font-size:28px;
    font-weight:300;
    text-transform:lowercase;
    font-family:Muli,
    sans-serif;
    word-spacing:-6px;
    -webkit-text-stroke:.01em;
    background-position:left center;
    background-repeat:no-repeat;
    padding-left:45px;
    color:#000
  }
  @media(min-width:360px)and (max-width:768px) {
    .navbar-default .navbar-brand {
      margin-left:10px
    }
  }
  @media(max-width:400px){.navbar-default .navbar-brand {
    background:none;
    padding-left:0
  }
  }
  .navbar-default .navbar-brand span {
    color:#0099da
  }
  .dropdown-menu li a {
    position:relative
  }
  .dropdown-menu li a .label {
    position:absolute;
    right:10px;
    top:8px
  }
  .dropdown-menu li a:hover .label {
    background-color:#fff;
    color:#0099da
  }
  @media(min-width:767px){.navbar-collapse{padding:0}.navbar-default .navbar-nav>li>a {
    padding-top:16px;
    padding-bottom:15px;
    margin-top:-1px;
    color:#000;
    font-family:Lato;
    font-size:16px;
    font-weight:400
  }
  .navbar-default .navbar-nav>li.dropdown>a {
    padding-right:30px
  }
  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:active,
  .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a {
    background-color:#0099da;
    background-image:-webkit-linear-gradient(bottom,
    #0087c1,
    #0099da);
    background-image:-o-linear-gradient(bottom,
    #0087c1,
    #0099da);
    background-image:-webkit-gradient(linear,
    left bottom,
    left top,
    from(#0087c1),
    to(#0099da));
    background-image:linear-gradient(to top,
    #0087c1,
    #0099da);
    color:#fff
  }
  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:hover,
  .navbar-default .navbar-nav>.open>a:focus {
    background-color:#0099da;
    background-image:-webkit-linear-gradient(bottom,
    #0087c1,
    #0099da);
    background-image:-o-linear-gradient(bottom,
    #0087c1,
    #0099da);
    background-image:-webkit-gradient(linear,
    left bottom,
    left top,
    from(#0087c1),
    to(#0099da));
    background-image:linear-gradient(to top,
    #0087c1,
    #0099da);
    color:#fff
  }
  .dropdown-menu {
    padding:0;
    min-width:200px;
    border-radius:0;
    z-index:9999!important;
    margin-top:0!important;
    -webkit-box-shadow:0 1px 1px rgba(0,
    0,
    0,
    .4),
    inset 0 0 2px rgba(255,
    255,
    255,
    .5);
    box-shadow:0 1px 1px rgba(0,
    0,
    0,
    .4),
    inset 0 0 2px rgba(255,
    255,
    255,
    .75);
    background-color:#f5f5f5
  }
  .dropdown-menu li a {
    font-size:13px;
    font-weight:400;
    padding:6px 15px
  }
  .dropdown-menu .active>a,
  .dropdown-menu li>a:hover,
  .dropdown-menu li>a:focus,
  .dropdown-menu li>a:active {
    background-color:#0099da;
    background-image:-webkit-linear-gradient(bottom,
    #0087c1,
    #0099da);
    background-image:-o-linear-gradient(bottom,
    #0087c1,
    #0099da);
    background-image:-webkit-gradient(linear,
    left bottom,
    left top,
    from(#0087c1),
    to(#0099da));
    background-image:linear-gradient(to top,
    #0087c1,
    #0099da);
    color:#fff
  }
  }
  @media(min-width:768px)and (max-width:991px) {
    .navbar-default .navbar-nav>li>a {
      font-size:14px;
      padding-left:8px;
      padding-right:8px
    }
    .navbar-default .navbar-nav>li.dropdown>a {
      padding-right:25px
    }
    .dropdown>a:after {
      right:10px
    }
    .navbar-default .navbar-brand {
      font-size:1.9em;
      word-spacing:-5px;
      -webkit-text-stroke:.007em;
      background-image:none;
      padding-left:5px
    }
  }
  .navbar-header .navbar-toggle {
    margin:0;
    padding:8px 12px 4px;
    background-color:#555;
    background-image:-webkit-linear-gradient(bottom,
    #4d4d4d,
    #666);
    background-image:-o-linear-gradient(bottom,
    #4d4d4d,
    #666);
    background-image:-webkit-gradient(linear,
    left bottom,
    left top,
    from(#4d4d4d),
    to(#666));
    background-image:linear-gradient(to top,
    #4d4d4d,
    #666);
    border:none;
    border-radius:0;
    color:#fff;
    position:absolute;
    left:0;
    height:50px
  }
  .navbar-header .navbar-toggle:hover,
  .navbar-header .navbar-toggle:focus {
    background-color:#0087c1
  }
  .navbar-header .navbar-toggle i {
    margin:0;
    padding:0;
    line-height:100%;
    font-size:1.5em
  }
  .sb-icon-navbar i {
    background-color:#555;
    background-image:-webkit-linear-gradient(bottom,
    #4d4d4d,
    #666);
    background-image:-o-linear-gradient(bottom,
    #4d4d4d,
    #666);
    background-image:-webkit-gradient(linear,
    left bottom,
    left top,
    from(#4d4d4d),
    to(#666));
    background-image:linear-gradient(to top,
    #4d4d4d,
    #666);
    color:#fff;
    padding:11px;
    margin-left:15px;
    vertical-align:middle;
    font-size:1.5em;
    padding:15px 14px 14px;
    height:50px
  }
  @media(min-width:768px)and (max-width:842px) {
    .navbar-right {
      float:left!important
    }
  }
  @media(max-width:991px){.sb-icon-navbar i {
    position:absolute;
    right:0;
    top:0;
    margin:0
  }
  }
  @media(max-width:767px){.navbar-default .navbar-brand {
    font-size:1.5em;
    word-spacing:-4px;
    margin-left:60px
  }
  }
  #footer-widgets {
    background-color:#444;
    color:#eee;
    padding:0 0 20px;
    margin-top:50px;
    border-top:solid 1px #ccc;
    -webkit-box-shadow:0 0 1px rgba(0,
    0,
    0,
    .3);
    box-shadow:0 0 1px rgba(0,
    0,
    0,
    .3)
  }
  .footer-widget-title {
    font-family:Lato,
    sans-serif;
    font-size:1.6em;
    color:#0eb7ff
  }
  #footer-widgets a {
    color:#eee;
    text-decoration:none;
    -webkit-transition:all .25s ease;
    -o-transition:all .25s ease;
    transition:all .25s ease
  }
  #footer-widgets a:hover {
    color:#0eb7ff
  }
  #footer {
    background-color:#333;
    color:#ccc;
    padding:17px 0 10px;
    border-top:solid 1px #555
  }
  #footer a {
    color:#0099da;
    text-decoration:none
  }
  #footer a:hover {
    color:#0099da
  }
  #footer p {
    margin:0;
    margin-bottom:10px;
    padding:0;
    line-height:1.2em
  }
  .footer-widget .media {
    margin-bottom:10px
  }
  .footer-widget .media .media-heading {
    font-size:1.1em;
    line-height:1.3em
  }
  .footer-widget small {
    color:#ccc;
    font-style:oblique
  }
  .footer-widget .thumbnail {
    border-color:#666;
    background-color:rgba(0,
    0,
    0,
    .2)
  }
  .three_cols {
    overflow:hidden
  }
  .three_cols>li {
    float:left;
    width:33.333%;
    padding-bottom:2px;
    padding-top:1px
  }
  .input-group>input[type=text] {
    height:34px;
    position:relative;
    z-index:3
  }
  input.input-lg[type=text] {
    height:40px!important
  }
  .padding-20 {
    padding:20px 0
  }
  .padding-40 {
    padding:40px 0
  }
  .margin-10 {
    margin:10px 0!important
  }
  .no-margin {
    margin:0!important
  }
  .no-padding {
    padding:0!important
  }
  .no-margin-bottom {
    margin-bottom:0!important
  }
  .no-margin-top {
    margin-top:0!important
  }
  .no-margin-left {
    margin-left:0!important
  }
  .no-margin-right {
    margin-right:0!important
  }
  .lateral-padding {
    padding-left:20px;
    padding-right:20px
  }
  .block {
    margin-bottom:40px
  }
  .block .nav>li>a>i {
    font-size:1.3em
  }
  .block ul {
    padding:0
  }
  .block ul.simple li {
    list-style-type:none;
    margin:3px 0
  }
  .block ul.simple li a {
    border-left:solid 2px #0099da;
    padding-left:20px
  }
  .block ul.simple li a:hover {
    border-color:#000
  }
  .block ul.simple li ul {
    padding-left:20px
  }
  .post-sidebar {
    padding:0
  }
  .post-sidebar li {
    list-style-type:none;
    overflow:hidden;
    margin-bottom:20px
  }
  .post-sidebar img {
    float:left;
    padding:5px;
    border:solid 1px #ccd;
    background-color:#ddd;
    margin-right:10px
  }
  .post-sidebar h4 {
    margin:0;
    padding:0;
    line-height:140%;
    font-size:1.1em;
    font-family:Open Sans,
    sans-serif;
    font-weight:400
  }
  .post-sidebar .date {
    margin-top:10px;
    color:#666;
    display:block
  }
  #header-full {
    background-image:url(../img/back.jpg);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
    color:#fff
  }
  .wrap-primary {
    background-color:#0099da;
    background-color:rgba(0,
    64,
    90,
    .7);
    padding:40px 0
  }
  #header-full .secondary-color {
    text-shadow:0 1px 2px rgba(0,
    0,
    0,
    .75);
    color:#cdff76;
    font-weight:300
  }
  #header-full .lead {
    text-shadow:0 1px 2px rgba(0,
    0,
    0,
    .75);
    font-weight:300;
    font-size:1.6em;
    max-width:700px;
    margin:0 auto
  }
  .header-full-icons {
    margin-top:80px
  }
  .header-full-icons {
    margin-top:80px;
    text-shadow:0 1px 2px rgba(0,
    0,
    0,
    .75)
  }
  .header-full-icons .icon-ar {
    -webkit-transition:all .25s ease;
    -o-transition:all .25s ease;
    transition:all .25s ease
  }
  .header-full-icons .icon-ar:hover {
    background-color:rgba(255,
    255,
    255,
    .2)
  }
  #header-full h1,
  #header-full h2,
  #header-full h3,
  #header-full h4,
  #header-full h6 {
    color:#fff;
    text-shadow:0 1px 2px rgba(0,
    0,
    0,
    .75);
    font-family:Muli,
    Lato,
    sans-serif
  }
  .head-title {
    font-size:5em;
    font-weight:300;
    text-align:center;
    color:#fff!important
  }
  @media(min-height:900px){.wrap-primary{padding:20px 0
  }
  .header-full-icons {
    margin-top:40px
  }
  }
  @media(min-height:990px){.wrap-primary{padding:80px 0 40px
  }
  }
  @media(max-height:900px){.wrap-primary{padding:0}.header-full-icons{margin-top:40px}.head-title{font-size:3em}.head-subtitle{font-size:2em}.header-full-icons .icon-ar.icon-ar-xl-lg {
    width:60px;
    height:60px;
    font-size:32px;
    line-height:1.8
  }
  }
  @media(max-height:768px){.head-full-logo{display:none}}@media(max-width:991px){.wrap-primary{padding:20px 0
  }
  .header-full-icons {
    margin-top:40px
  }
  .head-title {
    font-size:3em;
    font-weight:300;
    text-align:center;
    color:#fff!important
  }
  .head-subtitle {
    font-size:2em
  }
  }
  .error-404 {
    max-width:500px
  }
  .error-404 h1 {
    font-size:6em;
    text-transform:uppercase;
    font-family:Open Sans
  }
  .error-404 h2 {
    font-size:3em;
    text-transform:uppercase
  }
  @media(min-height:1019px){.error-404{margin:48px auto 49px
  }
  }
  .paper-back {
    background-image:url(../img/back.png);
    background-repeat:repeat;
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    bottom:0;
    right:0
  }
  .title-logo {
    background-image:url(../img/colors/blue/logo50.png);
    background-repeat:no-repeat;
    background-position:center top;
    font-size:2.3em;
    font-weight:300;
    font-family:Muli,
    Lato,
    sans-serif;
    color:#000;
    padding-top:70px;
    margin-bottom:20px;
    text-align:center
  }
  .title-logo span {
    color:#0099da
  }
  .transparent-div {
    -webkit-box-shadow:0 0 4px rgba(0,
    0,
    0,
    .2),
    inset 0 0 2px #fff;
    box-shadow:0 0 4px rgba(0,
    0,
    0,
    .2),
    inset 0 0 2px #fff;
    border:solid 1px #c3c3c3;
    background-color:rgba(255,
    255,
    255,
    .4);
    padding:20px;
    color:#7e8488
  }
  .transparent-div h1,
  .transparent-div h2,
  .transparent-div h3 {
    color:#7e8488
  }
  .transparent-div h1 {
    font-size:3.5em
  }
  .transparent-div p {
    font-size:1.2em;
    font-family:Lato,
    sans-serif;
    font-weight:300;
    margin-bottom:25px
  }
  .transparent-div .btn-ar.btn-primary {
    border:solid 1px #00638e;
    background-image:-webkit-linear-gradient(top,
    #0099da,
    #0080b6);
    background-image:-o-linear-gradient(top,
    #0099da,
    #0080b6);
    background-image:-webkit-gradient(linear,
    left top,
    left bottom,
    from(#0099da),
    to(#0080b6));
    background-image:linear-gradient(to bottom,
    #0099da,
    #0080b6);
    font-size:14px;
    padding-left:30px;
    padding-right:30px;
    border-radius:0
  }
  .absolute-center {
    height:700px
  }
  @media(min-width:500px) {
    .absolute-center {
      width:500px;height:500px;position:absolute;top:0;left:0;bottom:0;
      right:0;margin:auto;
    }
  }

  #back-top a {
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:999999999;
    color:#eee;
    background-color:rgba(0,
    0,
    0,
    .3);
    -webkit-transition:all .25s ease;
    -o-transition:all .25s ease;
    transition:all .25s ease;
    padding:10px;
    border-radius:5px;
    text-align:center
  }
  #back-top a:hover {
    background-color:rgba(0,
    0,
    0,
    .7)
  }
  #back-top a i {
    font-size:2em
  }
  @media(max-width:767px){#back-top a {
    position:fixed;
    bottom:10px;
    right:10px
  }
  #back-top a i {
    font-size:1.6em
  }
  }
  .header-full {
    background-image:-webkit-linear-gradient(bottom,
    #f0f0f0,
    #f4f4f4);
    background-image:-o-linear-gradient(bottom,
    #f0f0f0,
    #f4f4f4);
    background-image:-webkit-gradient(linear,
    left bottom,
    left top,
    from(#f0f0f0),
    to(#f4f4f4));
    background-image:linear-gradient(to top,
    #f0f0f0,
    #f4f4f4)
  }
  .header-full-title {
    float:left;
    overflow:hidden;
    padding-left:0;
    padding-bottom:10px;
    background-repeat:no-repeat;
    background-position:left center
  }
  .header-full-title h1 {
    margin-bottom:5px;
    margin-top:15px;
    font-family:Muli;
    color:#000;
    font-size:32px;
    padding-right:5px
  }
  .header-full-title h1 a {
    color:#000;
    text-decoration:none
  }
  .header-full-title h1 span,
  .header-full-title h1 span a {
    color:#0099da
  }
  .header-full-title p {
    margin-bottom:15px;
    font-size:1.2em;
    text-align:center
  }
  .top-nav {
    float:right;
    position:relative
  }
  .navbar-header-full {
    background-color:#f0f0f0;
    background-image:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-top:solid 1px #ddd
  }
  .navbar-header-full.navbar-inverse {
    border-top:solid 1px #0099da
  }
  .navbar-header-full.navbar-dark {
    border-top:solid 1px #444
  }
  .navbar-default.navbar-inverse+.main-header {
    background-color:#fff;
    border-bottom:solid 1px #ddd;
    color:#333
  }
  .navbar-default.navbar-inverse+.main-header .page-title,
  .navbar-default.navbar-inverse+.main-header a {
    color:#333;
    border-color:#333
  }
  .navbar-default.navbar-inverse+.main-header .breadcrumb>li+li:before {
    color:#888
  }
  .navbar-default.navbar-inverse+.main-header li.active,
  .navbar-default.navbar-inverse+.main-header li.current_item {
    color:#000;
    border-color:#000
  }
  .header-full-dark {
    background-image:none;
    background-color:#444;
    color:#fff
  }
  .header-full-dark .header-full-title h1 a {
    margin-bottom:5px;
    margin-top:15px;
    font-family:Muli;
    word-spacing:-7px;
    color:#fff;
    font-size:32px
  }
  .navbar-header-full .sb-icon-navbar i {
    height:51px;
    margin-top:-1px
  }
  .navbar-inverse .sb-icon-navbar i {
    background-color:#444;
    background-image:none
  }
  .header-full+.navbar-inverse {
    background-image:none;
    -webkit-box-shadow:none;
    box-shadow:none
  }
  .navbar-dark {
    background-color:#444;
    background-image:none;
    color:#fff;
    -webkit-box-shadow:none;
    box-shadow:none
  }
  .navbar-dark a {
    background-image:none
  }
  .navbar-default.navbar-dark .navbar-nav>li>a:hover,
  .navbar-default.navbar-dark .navbar-nav>.active>a:hover,
  .navbar-default.navbar-dark .navbar-nav>.active>a {
    background-image:none;
    color:#fff
  }
  .navbar-default.navbar-dark .navbar-nav>li>a,
  .navbar-default.navbar-dark .navbar-nav>li>a:hover,
  .navbar-default.navbar-dark .navbar-nav>li>a:focus,
  .navbar-default.navbar-dark .navbar-nav>.active>a,
  .navbar-default.navbar-dark .navbar-nav>.active>a:hover,
  .navbar-default.navbar-dark .navbar-nav>.active>a:focus {
    color:#fff
  }
  .navbar-default.navbar-dark .navbar-nav>.open>a,
  .navbar-default.navbar-dark .navbar-nav>.open>a:hover,
  .navbar-default.navbar-dark .navbar-nav>.open>a:focus {
    background-color:#0099da;
    background-image:none;
    color:#fff
  }
  .navbar-default.navbar-dark .navbar-brand {
    color:#eee
  }
  .navbar-default.navbar-dark+.main-header {
    background-color:#f1f1f1;
    border-bottom:solid 1px #ddd;
    color:#333
  }
  .navbar-default.navbar-dark+.main-header .page-title,
  .navbar-default.navbar-dark+.main-header a {
    color:#333;
    border-color:#333
  }
  .navbar-default.navbar-dark+.main-header .breadcrumb>li+li:before {
    color:#888
  }
  .navbar-default.navbar-dark+.main-header li.active,
  .navbar-default.navbar-dark+.main-header li.current_item {
    color:#000;
    border-color:#000
  }
  .navbar-dark .sb-icon-navbar i {
    background-color:#0099da;
    background-image:none
  }
  .navbar-dark .navbar-header .navbar-toggle {
    background-color:#0099da;
    background-image:none
  }
  .navbar-header .navbar-toggle:hover,
  .navbar-header .navbar-toggle:focus {
    background-color:#0087c1
  }
  @media(max-width:767px){.navbar-default .navbar-nav {
    margin-top:0;
    margin-bottom:0
  }
  .navbar-dark .navbar-collapse {
    border-color:#555
  }
  }
  .language-toggle {
    margin-top:30px;
    list-style:none
  }
  .content {
    margin-top:30px
  }
  #claim-iframe {
    position:absolute;
    height:100%;
    width:100%
  }
  .navbar-default .navbar-link {
    color:#FFF
  }
  .navbar-default .navbar-link:hover {
    color:#FFF;
    text-decoration:none
  }
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus {
    color:#FFF;
    background-color:#0099da
  }
  .intro-grid h2 {
    font-weight:700;
    font-size:1.3em
  }
  .intro-grid thead th {
    text-align:center;
    font-size:18px;
    color:#FFF
  }
  .intro-grid thead th.head-col1 {
    background-color:#0099da;
    width:40%
  }
  .intro-grid thead th.head-col2 {
    background-color:#0099da;
    border-left:1px solid #FFF;
    width:40%
  }
  .intro-grid tbody th.col1,
  .intro-grid tbody td.col1 {
    background-color:#dff0d8
  }
  .intro-grid tbody t4.col2,
  .intro-grid tbody td.col2 {
    background-color:#fcf8e3
  }
  .intro-grid tbody tr th {
    padding-top:18px;
    color:#0099da;
    text-align:center
  }
  .intro-grid tbody tr th i {
    font-size:20px
  }
  .intro-grid tbody ol ul {
    padding-left:15px
  }
  .intro-grid
    .box
      padding 10px
      ol
        padding-left 20px
      ul
        padding-left 20px
        margin-top 10px
  .qe-faq-toggle .qe-toggle-title i {
    color:#0099da
  }
  .qe-faq-toggle.active .qe-toggle-title,
  .qe-faq-toggle .qe-toggle-title:hover {
    background-color:#0099da;
    color:#FFF
  }
  .qe-faq-toggle.active .qe-toggle-title i,
  .qe-faq-toggle .qe-toggle-title:hover i {
    color:#FFF
  }
  .home .page-header {
    display:none
  }
  #menu-main-menu .menu-claim a,
  #menu-main-menu .menu-reclamation a {
    color:#f0ad4e;
    font-weight:700
  }
  #menu-main-menu .menu-claim a:hover,
  #menu-main-menu .menu-reclamation a:hover {
    color:#FFF
  }
  #menu-main-menu .menu-claim i,
  #menu-main-menu .menu-reclamation i {
    margin-right:2px
  }

  #menu-main-menu .menu-claim.active a
    color #FFF

  .maintenance
    padding 10px
    font-weight bold

  .faq
    margin-bottom 2px
    transition all 0.5s
    color #666
    .faq-title
      background-color #fafafa
      border 1px solid #ddd
      margin 0
      height auto
      cursor pointer
      transition all 0.2s
      padding 1em
      font-weight bold
      i
        color #0099da
      i.fa
        margin-right 0.5em
    .faq-content
      padding 1.5em 1.5em 0.3em
      margin 0
      border 1px solid #ddd
      display none
  .faq.active .faq-title,
  .faq .faq-title:hover
    background-color #0099da
    color #FFF
  .faq.active .faq-title i,
  .faq .faq-title:hover i
    color #FFF

  .page-home .page-title,
  .page-accueil .page-title
    display none

  .page-block
    margin-top 30px
    margin-bottom 30px
    p
      margin-top 10px
