<template name="adminHeader">
  <header class="main-header">

    <a href="{{pathFor 'adminWelcome'}}" class="logo">
      <span class="logo-mini"><b>C</b>A</span>
      <span class="logo-lg"><b>{{projectName}}</b> Admin</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          {{> loginButtons}}
        </ul>
      </div>
    </nav>

  </header>
</template>
