<template name="adminNewClaim">
  <div class="admin-new-claim">

    <section class="content-header">
      <h1><i class="fa fa-legal"></i> New Claim</h1>
      <ol class="breadcrumb">
        <li>
          <a href="{{pathFor 'adminWelcome'}}">
            <i class="fa fa-map"></i> Home
          </a>
        </li>
        <li>Office</li>
        <li class="active">New Claim</li>
      </ol>
    </section>

    <section class="content">
      <div class="box box-default">
        <div class="box-body">

          <div class="claim-tabs" role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#claim-contact-info" aria-controls="claim-contact-info"
                    role="tab" data-toggle="tab" class="claim-contact-info-tab">
                  Details
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="claim-contact-info">
                {{> adminClaimContactInfo}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </div>
</template>
